<div class="container">
  <div class="row">
    <h1>Locations</h1>
    <%= simple_form_for(Location.new) do |f| %>
      <%= f.input :city, collection: @locations.collect{|location| location.city} %>
      <%#= f.button :submit, "Validate", class: "btn btn-primary btn-exercise" %>
      <%= f.submit  %>
    <% end %>
  </div>
</div>
